---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import VideoSection from "../components/VideoSection.astro";
import Prizes from "../components/Prizes.astro";
import HowTo from "../components/HowTo.astro";
import Products from "../components/Products.astro";
import Footer from "../components/Footer.astro";
import FloatingUI from "../components/FloatingUI.astro";
import PopUp from "../components/PopUp.astro";
import logo from "../assets/navbar/Navbar Logo.png";

import { getImage } from "astro:assets";
import backImg from "../assets/back.png";
import mobileBackImg from "../assets/mobile_back.png";

const desktopBackground = await getImage({src: backImg, format: 'webp', quality: 100});
const mobileBackground = await getImage({src: mobileBackImg, format: 'webp', quality: 100});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href={logo.src} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Golalazo de Sabor</title>
		<style define:vars={{ desktopImage: `url("${desktopBackground.src}")`, mobileImage: `url("${mobileBackground.src}")` }}>
			body {
				background-image: var(--mobileImage);
				background-attachment: fixed;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			@media (min-width: 768px) {
				body {
					background-image: var(--desktopImage);
				}
			}
		</style>
	</head>
	<body class="text-gray-900 overflow-x-hidden">
		<Navbar />
		<main>
			<Hero />

			<VideoSection />

			<section id="premios" class="scroll-mt-36">
				<Prizes />
			</section>

			<section id="como-participar" class="scroll-mt-36">
				<HowTo />
			</section>

			<section id="productos" class="scroll-mt-36">
				<Products />
			</section>
		</main>
		<section id="terminos">
			<Footer />
		</section>
		<FloatingUI />
		<PopUp />
	</body>
</html>
