---
import whatsappIcon from "../assets/whatsapp/Whatsapp Icon.png";
import whatsappParticipa from "../assets/whatsapp/Whatsapp participa.png";
---

<div
	class="fixed bottom-0 left-0 w-full z-50 pointer-events-none flex justify-between items-end p-4 lg:p-8"
>
	<!-- Left Image: Always visible -->
	<a
		href="https://wa.me/5215539667230"
		target="_blank"
		rel="noopener noreferrer"
		class="pointer-events-auto transition-transform hover:scale-105 active:scale-95"
	>
		<img
			src={whatsappParticipa.src}
			alt="Participa por WhatsApp"
			class="h-auto w-48 lg:w-96 object-contain"
		/>
	</a>

	<!-- Right Image: Hidden on small screens -->
	<a
		href="https://wa.me/5215539667230"
		target="_blank"
		rel="noopener noreferrer"
		class="pointer-events-auto transition-transform hover:scale-105 active:scale-95 hidden lg:block"
	>
		<img
			src={whatsappIcon.src}
			alt="WhatsApp"
			class="h-auto w-16 lg:w-24 object-contain"
		/>
	</a>
</div>
